
div[aria-describedby="client-snackbar"][class*=" SnackbarContentWrapper-success"] {
    background-color:#3CD4A0;
 }

 div[aria-describedby="client-snackbar"][class*=" SnackbarContentWrapper-info"] {
    background-color:#9013FE;
 }

 div[aria-describedby="client-snackbar"][class*=" SnackbarContentWrapper-warning"] {
    background-color:#FFC260;
 }

 p[class*="DropzoneArea-dropzoneParagraph"] {
    font-size: 1rem;
  }