.navWrapper {
   width: 0px;
   padding-bottom: 100px;
  
}

.right {
    background-color: rgb(13, 31, 46);
    position: fixed;
    top: 0;
    width: 100%;
}
  
li {
    float: right;
    color: #DADFF7;
  }
  
li:hover {
    background-color: rgb(179, 187, 187);
  }