.button {
    background-color:#DADFF7;
    color: #232C33;
    border: 2px solid #232C33;
    border-radius: 8px;
    font-size: 1vw;
    padding: 12px 28px;
    float: right;
}
.button2 {
    background-color:white;
    color: #232C33;
    border: 2px solid #232C33;
    border-radius: 8px;
    font-size: 1vw;
    padding: 12px 28px;
  }

.button-container {
    padding-top: 15px;
    padding-right: 30px;
    float: right;
   
}

.parentDiv {
    display: flex;
    justify-content: space-between;
}

.childSideBar {
  padding: 15px;
  width: 25%;
  height: 25vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.childRxTable {   
    padding-top: 15px;
    padding-right: 250px;
    padding-left: 50px;
    
    height: 150vh;  
}

.rxTable {
    background-color: white;
}


  
