.patient-sidebar {
    background-color:lightsteelblue;
    border: 1px;
    display:flex;
    align-items: center;
    height:40vh;
    width: 30vh;
    border-radius:20px;
    margin-left: 5px;
}

.info-section {
    font-size: 14px;
    padding-bottom: 30px;
}

.listItem {
    color: black;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
   
    border-radius: 50% !important;
  }