#rxForm {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: white;
}


#fillButton {
background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#username {
    font-size: 20px;
    padding: 18px;
}

#rxInfo {
    padding-left: 10px;
    padding-right: 10px;
}

#itemName {
    color: black;
}

#pharmHeading {
    color: rgb(213, 215, 219);
    font-size: 50px;
}

#pendingBox {
    padding-right: 0px;
}

#filledBox {
    padding-left: 0px;

}




